.company-jobs{
	align-items: center;
	justify-content: center;
	padding: 40px 60px;
}

.company-jobs-container h2{
	text-align: center;
}

.company-header {
	background-color: green; 
	color: #ffffff; 
	padding: 10px 20px; 
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
}

.logo {
	flex: 1; 
	/*ustify-content: space-between;*/
}

.logo h2 {
	margin: 0; 
}

nav {
	flex: 2; 
}

nav ul {
	list-style-type: none; 
	display: flex;
	justify-content: flex-end; 
	padding: 0; 
}

nav ul li {
	margin-left: 20px;
}

nav ul li:first-child {
	margin-left: 0; 
}

nav ul li a {
	text-decoration: none; 
	color: #ffffff; 
	font-weight: bold; 
	transition: color 0.3s ease;
}

nav ul li a:hover {
	color: #28a745;
}


@media (max-width: 768px) {
	.company-jobs {
			padding: 30px;
		justifiy-content: center;
		margin: 0 auto;
		align-items: center;
	}
}

@media (max-width: 480px) {
	.company-jobs {
		padding-top: 0px;
		padding-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;
		justifiy-content: center;
		margine: 0 auto;
		align-items: center;
	}
}
