.post-job {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.post-job-container {
	width: 100%;
	padding: 20px;
	background-color: #f9f9f9;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	
}

.post-job-container h2 {
	text-align: center;
	margin-bottom: 20px;
}

.post-job-container form {
	display: flow-root;
	width: 100%;
	gap: 16px;
}

.post-job-container textarea{
	width: 100%;
	height: 100px;
}

.post-job-container form > div {
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 8px);
	box-sizing: border-box;
	margin-bottom: 16px;
}

.post-job-container form label {
	display: block; 
	margin-bottom: 8px;
}
.post-job-container button {
	padding: 10px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
	
}

.post-job-container button:hover {
	background-color: #45a049;
}

@media (max-width: 768px) {
	.post-job-container form > div {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.post-job {
		display: flex;
		flex-direction: column;
		padding: 10px;
	}

	.post-job-container {
		max-width: 100%;
	}
}
