.profile {
	max-width: 800px;
	margin: auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
}

.profile-picture {
	display: block;
	margin: 0 auto 20px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.profile-container {
	text-align: left;
}

.profile-container h2 {
	text-align: center;
}

.profile-field {
	margin-bottom: 15px;
}

.profile-field label {
	display: block;
	font-weight: bold;
}

.profile-field p {
	margin: 0;
}

.profile-field input,
.profile-field textarea {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	object-fit: cover;
}

button {
	display: inline-block;
	margin-right: 10px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: #0056b3;
}
