.whoareyou-container {
display: flex;
flex-direction: column;
align-items: center;
margin: 0px auto;
max-width: 400px;
background: white;
padding: 20px;
border-radius: 10px;
background-color: green;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-style: solid;
border-color: white;
}

.whoareyou-container h2 {
	margin-bottom: 20px;
}


.who-are-you{
	padding-top: 80px;
	height: 100%;


}


.whoareyou-container button {
	padding: 10px 20px;
	margin: 10px;
	font-size: 16px;
	cursor: pointer;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.whoareyou-container button:hover {
	background-color: #0056b3;
}
