/* client/src/components/WhoAreYou.css */

.whoareyou-container {
	display: flex;
	flex-direction: column;
	align-items: _center;
	margin: 50px auto;
	max-width: 400px;
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);background-color: green;
}

.whoareyou-container h2 {
	margin-bottom: 20px;
}

.whoareyou-container button {
	padding: 10px 20px;
	margin: 10px;
	font-size: 16px;
	cursor: pointer;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.whoareyou-container button:hover {
	background-color: #0056b3;
}
